.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.cardBtn {
  transform: translate(-50%, -50%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  .icon {
    margin-right: 8px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
}

.card:hover .cardBtn {
  opacity: 1;
}

.cardBtn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);

  .icon {
    transform: translateX(5px) rotate(90deg);
  }
}

.cardBtn:active {
  scale: 0.95;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
